<div class="container m-3">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit class: "btn btn-success btn-red mt-3" %>
  <% end %>
</div>